.fullScreenDemo {
  position: relative;
}
.fullScreenDemo .content {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  z-index: 9999;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
  justify-content: space-between;
  width: 100vw;
}
.fullScreenDemo .content .item {
  width: 47%;
  color: #fff;
  cursor: pointer;
}
.fullScreenDemo .content .item:nth-child(odd) {
  display: flex;
  justify-content: flex-start;
}
.fullScreenDemo .content .item:nth-child(odd) > div span {
  display: block;
  text-align: right;
  padding-right: 100px;
}
.fullScreenDemo .content .item:nth-child(even) {
  display: flex;
  justify-content: flex-end;
}
.fullScreenDemo .content .item:nth-child(even) > div > span {
  padding-left: 100px;
}
.fullScreenDemo .content .item0 {
  width: 388px;
  height: 78px;
  line-height: 78px;
  background: url("~@/assets/left-item1-n.png") no-repeat center;
  background-size: 100% 100%;
  font-size: 26px;
  font-weight: 500;
}
.fullScreenDemo .content .item0:hover {
  background: url("~@/assets/left-item1.png") no-repeat center;
  background-size: 100% 100%;
}
.fullScreenDemo .content .item2 {
  width: 406px;
  height: 78px;
  line-height: 78px;
  background: url("~@/assets/left-item2-n.png") no-repeat center;
  background-size: 100% 100%;
  font-size: 26px;
  font-weight: 500;
}
.fullScreenDemo .content .item2:hover {
  background: url("~@/assets/left-item2.png") no-repeat center;
  background-size: 100% 100%;
}
.fullScreenDemo .content .item4 {
  width: 412px;
  height: 78px;
  line-height: 78px;
  background: url("~@/assets/left-item3-n.png") no-repeat center;
  background-size: 100% 100%;
  font-size: 26px;
  font-weight: 500;
}
.fullScreenDemo .content .item4:hover {
  background: url("~@/assets/left-item3.png") no-repeat center;
  background-size: 100% 100%;
}
.fullScreenDemo .content .item6 {
  width: 412px;
  height: 78px;
  line-height: 78px;
  background: url("~@/assets/left-item4-n.png") no-repeat center;
  background-size: 100% 100%;
  font-size: 26px;
  font-weight: 500;
}
.fullScreenDemo .content .item6:hover {
  background: url("~@/assets/left-item4.png") no-repeat center;
  background-size: 100% 100%;
}
.fullScreenDemo .content .item8 {
  width: 406px;
  height: 78px;
  line-height: 78px;
  background: url("~@/assets/left-item5-n.png") no-repeat center;
  background-size: 100% 100%;
  font-size: 26px;
  font-weight: 500;
}
.fullScreenDemo .content .item8:hover {
  background: url("~@/assets/left-item5.png") no-repeat center;
  background-size: 100% 100%;
}
.fullScreenDemo .content .item10 {
  width: 388px;
  height: 78px;
  line-height: 78px;
  background: url("~@/assets/left-item6-n.png") no-repeat center;
  background-size: 100% 100%;
  font-size: 26px;
  font-weight: 500;
}
.fullScreenDemo .content .item10:hover {
  background: url("~@/assets/left-item6.png") no-repeat center;
  background-size: 100% 100%;
}
.fullScreenDemo .content .item1 {
  width: 388px;
  height: 78px;
  line-height: 78px;
  background: url("~@/assets/right-item1-n.png") no-repeat center;
  background-size: 100% 100%;
  font-size: 26px;
  font-weight: 500;
}
.fullScreenDemo .content .item1:hover {
  background: url("~@/assets/right-item1.png") no-repeat center;
  background-size: 100% 100%;
}
.fullScreenDemo .content .item3 {
  width: 406px;
  height: 78px;
  line-height: 78px;
  background: url("~@/assets/right-item2-n.png") no-repeat center;
  background-size: 100% 100%;
  font-size: 26px;
  font-weight: 500;
}
.fullScreenDemo .content .item3:hover {
  background: url("~@/assets/right-item2.png") no-repeat center;
  background-size: 100% 100%;
}
.fullScreenDemo .content .item5 {
  width: 412px;
  height: 78px;
  line-height: 78px;
  background: url("~@/assets/right-item3-n.png") no-repeat center;
  background-size: 100% 100%;
  font-size: 26px;
  font-weight: 500;
}
.fullScreenDemo .content .item5:hover {
  background: url("~@/assets/right-item3.png") no-repeat center;
  background-size: 100% 100%;
}
.fullScreenDemo .content .item7 {
  width: 412px;
  height: 78px;
  line-height: 78px;
  background: url("~@/assets/right-item4-n.png") no-repeat center;
  background-size: 100% 100%;
  font-size: 26px;
  font-weight: 500;
}
.fullScreenDemo .content .item7:hover {
  background: url("~@/assets/right-item4.png") no-repeat center;
  background-size: 100% 100%;
}
.fullScreenDemo .content .item9 {
  width: 406px;
  height: 78px;
  line-height: 78px;
  background: url("~@/assets/right-item5-n.png") no-repeat center;
  background-size: 100% 100%;
  font-size: 26px;
  font-weight: 500;
}
.fullScreenDemo .content .item9:hover {
  background: url("~@/assets/right-item5.png") no-repeat center;
  background-size: 100% 100%;
}
.fullScreenDemo .content .item11 {
  width: 388px;
  height: 78px;
  line-height: 78px;
  background: url("~@/assets/right-item6-n.png") no-repeat center;
  background-size: 100% 100%;
  font-size: 26px;
  font-weight: 500;
}
.fullScreenDemo .content .item11:hover {
  background: url("~@/assets/right-item6.png") no-repeat center;
  background-size: 100% 100%;
}
#container {
  width: 100vw;
  height: 100vh;
}
.economy {
  position: relative;
}
.economy .content {
  position: absolute;
  left: 0;
  top: 50px;
  z-index: 9999;
}
.economy .content .left .structure {
  width: 450px;
  height: 195px;
  background: url("../../assets/cyjg@2x.png") no-repeat center;
  background-size: 100% 100%;
}
.economy .content .left .structure .title span {
  color: #fff;
}
.economy .content .left .structure .title span:last-child {
  font-size: 12px;
}
.economy .content .left .structure .structure-content {
  display: flex;
}
.economy .content .left .structure .structure-content .ring {
  width: 145px;
}
.economy .content .left .structure .structure-content .text {
  flex: 1;
}
